<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="static/css/settings.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a class="mdl-navigation__link" href="/">Matrix Steuerung</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer">
                <form method="post" action="/stop_process">
                    <button id="stop_process_button" type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                        <div class="control-icon icon-pause-circle"></div>
                    </button>
                </form>
            </div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('upload') }}">Dateien Hochladen</a>
                <a class="mdl-navigation__link" href="/">Zurück</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--order-3-tablet mdl-cell--order-3-phone">
                <h2>Stats</h2>

                <ul class="demo-list-icon mdl-list">
                    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">photo</i>Uploaded Images: {{ numberOfPictues }}
</span>
                    </li>
                    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">gif_box</i>Uploaded GIFs: {{ numberOfGifs }}
  </span>
                    </li>
                    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">hard_disk</i>Disk Space in use: {{ freeDiskSpaceInPercent }}%
  </span>
                    </li>
                </ul>

            </div>


            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--order-1-tablet mdl-cell--order-1-phone">

                <div class="mdl-cell mdl-cell--12-col">
                    <h2>Settings </h2>
                    <form method="POST" action="/save_settings">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect fw">
                            Save Settings
                        </button>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="number" name="height"
                                   pattern="-?[0-9]*(\.[0-9]+)?"
                                   id="height" value="{{ settings['heightInPixel'] }}">
                            <label class="mdl-textfield__label" for="height">Pixels per Module - Height - Default
                                32</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="number" name="width" pattern="-?[0-9]*(\.[0-9]+)?"
                                   id="width" value="{{ settings['widthInPixel'] }}">
                            <label class="mdl-textfield__label" for="width">Pixels per Module - Width - Default
                                32</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="number" min="1" name="chainLength"
                                   pattern="-?[0-9]*(\.[0-9]+)?"
                                   id="chainLength" value="{{ settings['chainLength'] }}">
                            <label class="mdl-textfield__label" for="chainLength">Chain of Modules - Default 1</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="number" min="1" name="parallelChains"
                                   pattern="-?[0-9]*(\.[0-9]+)?"
                                   id="parallelChains" value="{{ settings['parallelChains'] }}">
                            <label class="mdl-textfield__label" for="parallelChains">How many parallel chains - Default
                                1</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="number" min="0" name="ledSlowdown"
                                   pattern="-?[0-9]*(\.[0-9]+)?"
                                   id="ledSlowdown" value="{{ settings['ledSlowdown'] }}">
                            <label class="mdl-textfield__label" for="ledSlowdown">Should the display slowed down -
                                Default
                                2</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="number" min="30" name="playlistTime"
                                   pattern="-?[0-9]*(\.[0-9]+)?"
                                   id="playlistTime" value="{{ settings['playlistTime'] }}">
                            <label class="mdl-textfield__label" for="playlistTime">Length of displaying a image in Sec -
                                min
                                30</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <select name="direction" id="direction" class="mdl-textfield__input">
                                <option value="vertical"
                                        {% if settings['direction'] == 'vertical' %}selected{% endif %}>
                                    Vertical
                                </option>
                                <option value="verticalTurned"
                                        {% if settings['direction'] == 'verticalTurned' %}selected{% endif %}>
                                    Vertical Gedreht
                                </option>
                                <option value="horizontal"
                                        {% if settings['direction'] == 'horizontal' %}selected{% endif %}>
                                    Horizontal
                                </option>
                                <option value="horizontalTurned"
                                        {% if settings['direction'] == 'horizontalTurned' %}selected{% endif %}>
                                    Horizontal Gedreht
                                </option>
                            </select>

                            <label class="mdl-textfield__label" for="direction">Display direction. Where is the up part
                                -
                                Default vertical</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <select name="direction" id="direction" class="mdl-textfield__input">
                                <option value="vertical"
                                        {% if settings['direction'] == 'vertical' %}selected{% endif %}>
                                    Vertical
                                </option>
                                <option value="verticalTurned"
                                        {% if settings['direction'] == 'verticalTurned' %}selected{% endif %}>
                                    Vertical Gedreht
                                </option>
                                <option value="horizontal"
                                        {% if settings['direction'] == 'horizontal' %}selected{% endif %}>
                                    Horizontal
                                </option>
                                <option value="horizontalTurned"
                                        {% if settings['direction'] == 'horizontalTurned' %}selected{% endif %}>
                                    Horizontal Gedreht
                                </option>
                            </select>

                            <label class="mdl-textfield__label" for="direction">Display direction. Where is the up part
                                -
                                Default vertical</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <select name="language" id="language" class="mdl-textfield__input">
                                <option value="de"
                                        {% if settings['language'] == 'de' %}selected{% endif %}>
                                    Deutsch
                                </option>
                                <option value="en"
                                        {% if settings['language'] == 'en' %}selected{% endif %}>
                                    English
                                </option>
                                <option value="it"
                                        {% if settings['direction'] == 'it' %}selected{% endif %}>
                                    Italiano
                                </option>
                                <option value="ch"
                                        {% if settings['direction'] == 'ch' %}selected{% endif %}>
                                    中国人
                                </option>
                            </select>

                            <label class="mdl-textfield__label" for="direction">Display direction. Where is the up part
                                -
                                Default vertical</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <div>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="showClockAndPicture">
                                <input type="checkbox" id="showClockAndPicture" name="showClockAndPicture"
                                       class="mdl-checkbox__input" {{ settings['displayTimeAndDate'] }}>
                                <span class="mdl-checkbox__label">Show Time & Date even when choosing another content</span>
                            </label>
                        </div>
                        </br>
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect fw">
                            Save Settings
                        </button>
                    </form>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone  mdl-cell--order-2-tablet mdl-cell--order-2-phone">
                <div class="mdl-cell mdl-cell--12-col">
                    <h2>Reboot / Shutdown</h2>
                    <form action="/reboot" method="POST">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect fw">
                            Reboot
                        </button>
                    </form>
                    <form action="/shutdown" method="POST">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect fw">
                            Safe System Shutdown
                        </button>
                    </form>
                </div>


                <div class="mdl-cell mdl-cell--12-col">
                    <h2>Update</h2>
                    <div>Current Used Version: {{ applicationInfo['currentApplicationVersion'] }}</div>
                    <div>Last changes in current Version: {{ applicationInfo['whatChanged'] }}</div>
                    <br>
                    <div>Current GIT Version: {{ currentAvailableVersion }}</div>
                    <div>Changes in the new Version: {{ updateText }}</div>
                    <br>
                    <form action="/update_process" method="POST">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" {{ enableUpdateButton }}>
                            Update Application
                        </button>
                    </form>
                    <br>
                    <p>This updates the rpi-rgb-led-matrix repository as well as the rpi-rgb-led-matrix-frontend
                        repository<br>
                        At the End of the Update, the raspberry will be rebooted!</p>
                </div>
            </div>


        </div>
    </main>
</div>
</body>
</html>
