<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Image Selection</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a class="mdl-navigation__link" href="/">Matrix Steuerung</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer">
                <form method="post" action="/stop_process">
                    <button id="stop_process_button" type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                        <div class="control-icon icon-pause-circle"></div>
                    </button>
                </form>
            </div>
            <div class="mdl-tooltip" for="stop_process_button">
                Stop Displaying<br>and shut down the display
            </div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="#">Dateien Hochladen</a>
                <a class="mdl-navigation__link" href="{{ url_for('settings') }}">Einstellungen</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <h1>Image Uplaod!</h1>
        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--12-col">
                <span>Upload all kinds of images, as long as they are in the .png, .jpg or .gif format!</span>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <span>Currently you got {{ freeDiskSpaceInPercent }} % free storage space on this system</span>
                <div id="p1" class="mdl-progress mdl-js-progress"></div>
            </div>

            <div class="mdl-cell mdl-cell--12-col"></div>
            <form method="POST" enctype="multipart/form-data"
                  action="/upload_image">
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="file" name="image_file" multiple accept=".jpg, .jpeg, .png, .gif">
                <br><br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Upload
                </button>
            </form>

        </div>
    </main>
</div>
</body>


<script>
    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function () {
        this.MaterialProgress.setProgress({{freeDiskSpaceInPercent}});
    });
</script>
</body>
</html>
